annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
branca==0.8.2
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
exceptiongroup==1.3.1
fastapi==0.128.8
folium==0.20.0
geopandas==1.1.2
git-filter-repo==2.47.0
h11==0.16.0
haversine==2.9.0
idna==3.11
Jinja2==3.1.6
MarkupSafe==3.0.3
networkx==3.4.2
numpy==2.2.6
packaging==26.0
pandas==2.3.3
pip==21.2.3
pydantic==2.12.5
pydantic_core==2.41.5
pyogrio==0.12.1
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
setuptools==57.4.0
shapely==2.1.2
six==1.17.0
starlette==0.52.1
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.40.0
xyzservices==2025.11.0
langchain
langchain-community
chromadb
pypdf
reportlab
ollama
sentence-transformers
langchain_classic
